.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .sign-in-form {
    display: flex;
    flex-direction: column;
  }

  .sign-up-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    :first-child {
      margin-bottom: 2rem;
    }

    :last-child {
      margin-bottom: 1rem;
      font-size: 18px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
