.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 20px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }

    .option::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background: black;
      transition: width 0.3s;
    }

    .option:hover::after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}
